.custom-checkbox-words {
  
  &__label {
    position: relative;
    padding: 0 0 0 45px;
    display: block;
    color: $color-black;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: $ff-gilroy sans-serif;

    @include vp-laptop {
      font-size: 14px;
      line-height: 17px;
      padding: 0 0 0 32px;
    }

    @include vp-tablet {
      font-size: 24px;
      line-height: 29px;
      padding: 0 0 0 60px;
    }

    @include vp-mobile {
      font-size: 12px;
      line-height: 14px;
      padding: 0 0 0 30px;
    }
  
    &::before {
      content: "";
      background-color: $color-platinum;
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include vp-laptop {
        width: 17px;
        height: 17px;
      }

      @include vp-tablet {
        width: 40px;
        height: 40px;
      }

      @include vp-mobile {
        width: 20px;
        height: 20px;
      }
    }
  } 

  &__field:checked ~ .custom-checkbox-corns__label::before {
    background-color: $color-ucla-gold;
  }
}