.container {
  width: 100%;
  max-width: $max-width-desktop;
  margin: 0 auto;
  padding: 0 20px;

  @include vp-laptop {
    max-width: $max-width-laptop;
  }

  @include vp-tablet {
    max-width: $max-width-tablet;
    padding: 0 14px;
  }

  @include vp-mobile {
    max-width: $max-width-mobile;
    padding: 0 7px;
  }
}


