// Colors

$color-white: #ffffff;
$color-vampire-black: #090909;
$color-black: #000000;
$color-bright-gray: #e9e9e9;
$color-silver-sand-c4: #c4c4c4;
$color-bistre: #40241d;
$color-cornsilk: #fff7e1;
$color-ucla-gold: #f9b300;
$color-dark-liver: #505050;
$color-raising-black: #222222;
$color-davys-gray: #5b5b5b;
$color-silver-sand-c6: #c6c6c6;
$color-antiflash-white-f3: #f3f3f3;
$color-chinese-silver: #c9c9c9;
$color-lotion: #fcfcfc;
$color-platinum: #e4e4e4;
$color-ghost-white: #f9f9f9;
$color-mustard-yellow: #e2a300;
$color-cultured-f6: #f6f6f6;
$color-chinese-black: #121212;
$color-eerie-black: #181818;
$color-antiflash-white-f0: #f0f0f0;
$color-cultured: #f5f5f5;
$color-sonic-silver: #747474;
$color-light-silver: #d6d6d6;
$color-philippine-silver-b2: #b2b2b2;
$color-philippine-silver: #b3b3b3;
$color-quick-silver-a4: #a4a4a4;

$color-spanish-gray-c95: #959595;
$color-spanish-gray-c95-25: rgba(149, 149, 149, 0.25);
$color-spanish-gray: #9d9d9d;
$color-spanish-gray-25: rgba(157, 157, 157, 0.25);
$color-philippine-gray: #929292;
$color-philippine-gray-20: rgba(146, 146, 146, 0.2);
$color-philippine-gray-25: rgba(146, 146, 146, 0.25);
$color-quick-silver: #a3a3a3;
$color-quick-silver-25: rgba(163, 163, 163, 0.25);
$color-onyx: #393939;
$color-onyx-15: rgba(57, 57, 57, 0.15);
$color-black-15: rgba(0, 0, 0, 0.15);
$color-black-302: rgba(0, 0, 0, 0.302);
$color-chinese-silver-25: rgba(201, 201, 201, 0.25);
$color-granite-gray: #676767;
$color-granite-gray-25: rgba(103, 103, 103, 0.25);
$color-davys-gray-25: rgba(90, 90, 90, 0.25);

// Typography

$ff-gilroy: "Gilroy", "Arial", sans-serif;

// Viewport

$vp-laptop: 1903px;
$vp-tablet: 1348px;
$vp-mobile: 767px;

// Container

$max-width-desktop: 1700px;
$max-width-laptop: 1220px;
$max-width-tablet: 700px;
$max-width-mobile: 338px;
