// Colors

$color-white: #ffffff;
$color-vampire-black: #090909;
$color-black: #000000;
$color-bright-gray: #E9E9E9;
$color-silver-sand-c4: #C4C4C4;
$color-bistre: #40241D;
$color-cornsilk: #FFF7E1;
$color-ucla-gold: #F9B300;
$color-dark-liver: #505050;
$color-raising-black: #222222;
$color-davys-gray: #5B5B5B;
$color-silver-sand-c6: #C6C6C6;
$color-antiflash-white-f3: #F3F3F3;
$color-chinese-silver: #C9C9C9;
$color-lotion: #FCFCFC;
$color-platinum: #E4E4E4;
$color-ghost-white: #F9F9F9;
$color-mustard-yellow: #E2A300;
$color-cultured: #F6F6F6;
$color-chinese-black: #121212;
$color-eerie-black: #181818;
$color-antiflash-white-f0: #F0F0F0;
$color-cultured: #F5F5F5;

$color-spanish-gray-c95: #959595;
$color-spanish-gray-c95-25: rgba(149, 149, 149, 0.25);
$color-spanish-gray: #9D9D9D;
$color-spanish-gray-25: rgba(157, 157, 157, 0.25);
$color-philippine-gray: #929292;
$color-philippine-gray-20: rgba(146, 146, 146, 0.2);
$color-philippine-gray-25: rgba(146, 146, 146, 0.25);
$color-quick-silver: #A3A3A3;
$color-quick-silver-25: rgba(163, 163, 163, 0.25);
$color-onyx: #393939;
$color-onyx-15: rgba(57, 57, 57, 0.15);
$color-black-302: rgba(0, 0, 0, 0.302);
$color-chinese-silver-25: rgba(201, 201, 201, 0.25);

// Typography

$ff-gilroy: "Gilroy", "Arial", sans-serif;

// Viewport

$vp-laptop: 1903px;
$vp-tablet: 1348px;
$vp-mobile: 767px;

// Container

$max-width-desktop: 1700px;
$max-width-laptop: 1220px;
$max-width-tablet: 728px;
$max-width-mobile: 354px;
