.background {

  &__svg-puddle {
    color: $color-ucla-gold;
    position: absolute;
    z-index: -6;
  }

  &__svg-puddle--right {
    width: 1453px; 
    height: 1750px; 
    left: calc(50% + 236px);
    top: -275px;

    @include vp-laptop {
      width: 1024px; 
      height: 1234px; 
      left: calc(50% + 167px);
      top: -190px;
    }

    @include vp-tablet {
      width: 837px;
      height: 912px;
      top: 70px;
      left: calc(50% - 20px);
      rotate: -1deg;
    }

    @include vp-mobile {
      width: 453px;
      height: 561px;
      top: 30px;
      left: calc(50% + 37px);
      rotate: -1deg;
    }
  }

  &__svg-puddle--left {
    width: 1230px; 
    height: 1380px; 
    left: calc(50% - 1728px);
    top: 1019px;

    @include vp-laptop {
      display: none;
    }

    @include vp-tablet {
      display: unset;
      rotate: -187deg;
      left: calc(50% - 1060px);
      top: 1520px;
      height: 1019px;
      width: 900px;
    }

    @include vp-mobile {
      width: 450px;
      height: 510px;
      top: 975px;
      left: calc(50% - 527px);
    }
  }

  &__svg-puddle--left-for-laptop {
    display: none;

    @include vp-laptop {
      display: unset;
      width: 820px; 
      height: 935px; 
      left: calc(50% - 1190px);
      top: 707px;
    }

    @include vp-tablet {
      display: none;
    }
  }

  &__img {
    z-index: -6;
    position: absolute;
  }

  &__img--heading-corns {
    width: 900px;
    height: 773px;
    top: 192px;
    left: calc(50% - 158px);

    @include vp-laptop {
      width: 637px;
      height: 550px;
      top: 135px;
      left: calc(50% - 113px)
    }

    @include vp-tablet {
      width: 714px;
      height: 616px;
      top: 381px;
      left: calc(50% - 218px)
    }

    @include vp-mobile {
      width: 439px;
      height: 378px;
      top: 228px;
      left: calc(50% - 107px)
    }
  }

  &__img--left-corns {
    width: 674px;
    height: 674px;
    top: 1547px;
    left: calc(50% - 1276px);
    filter: blur(5px);

    @include vp-laptop {
      width: 477px;
      height: 477px;
      left: calc(50% - 904px);
      top: 1096px;
      filter: blur(3.5px);
    }

    @include vp-tablet {
      width: 509px;
      height: 509px;
      left: calc(50% - 625px);
      top: 1672px;
      filter: blur(5px);
    }

    @include vp-mobile {
      width: 249px;
      height: 249px;
      left: calc(50% - 306px);
      top: 1056px;
      filter: blur(2.5px);
    }
  }

  &__img--cup {
    width: 744px;
    height: 496px;
    z-index: -3;
    left: calc(50% - 46px);
    top: 267px;

    @include vp-laptop {
      width: 525px;
      height: 350px;
      left: calc(50% - 34px);
      top: 189px;      
    }

    @include vp-tablet {
      width: 524px;
      height: 393px;
      left: calc(50% - 140px);
      top: 446px;
    }

    @include vp-mobile {
      width: 363px;
      height: 243px;
      left: calc(50% - 59px);
      top: 267px;
    }
  }

  &__div {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -6;
  }

  &__div--cup-shadow {
    z-index: -1;
    width: 666px;
    height: 494px;
    left: calc(50% + 8px);
    top: 311px;
    background: $color-onyx-15;
    filter: blur(50px);  

    @include vp-laptop {
      width: 472px;
      height: 350px;
      left: calc(50% - 6px);
      top: 220px;
      filter: blur(35px);
    }

    @include vp-tablet {
      display: none;
    }
  }

  &__svg-vawe {
    display: flex;
    position: absolute;
    z-index: -4;
    width: 100%;
    min-width: 3720px;
    left: 50%;
    transform: translateX(-50%);

    @include vp-laptop {
      width: 1904px;
      min-width: unset;
    }

    @include vp-tablet {
      display: none;
    }
  }

  &__svg-vawe-for-tablet {
    display: none;
    position: absolute;
    z-index: -4;
    left: 50%;
    transform: translateX(-50%);
  
    @include vp-tablet {
      width: 1348px;
      display: flex;
    }

    @include vp-mobile {
      width: 767px;
    }
  }

  &__svg-vawe--overview {
    color: $color-cornsilk;
    height: 400px;
    bottom: -245px;

    @include vp-laptop {
      height: 300px;
      bottom: -150px;
    }

    @include vp-tablet {
      display: none;  
    }

    @include vp-mobile {
      display: flex;
      height: 123px;
      bottom: -43px;
    }
  }

  &__svg-vawe--advantages {
    color: $color-cornsilk;
    height: 400px;
    top: -155px;

    @include vp-laptop {
      height: 300px;
      top: -150px;
    }

    @include vp-tablet {
      height: 216px;
      top: 32px;  
    }

    @include vp-mobile {
      height: 123px;
      top: -80px;
    }
  }

  &__div--advantages-wall {
    top: 240px;
    bottom: -1px;
    background-color: $color-cornsilk;

    @include vp-laptop {
      top: 145px;
    }

    @include vp-tablet {
      top: 240px;
    }

    @include vp-mobile {
      top: 43px;
    }
  }

  &__svg-vawe--technology-first {
    height: 408px;
    top: -5px;
    color: $color-cornsilk;

    @include vp-laptop {
      height: 220px;
      top: -10px;
    }

    @include vp-tablet {
      height: 236px;
      top: 0;
    }

    @include vp-mobile {
      height: 135px;
      top: -1px;
    }
  }

  &__img--technology {
    bottom: 0;
    top: 5px;
    bottom: 1px;
    height: calc(100% - 6px);
    left: 0;
    width: 100%;

    @include vp-mobile {
      height: calc(100% - 20px);
      bottom: 15px;
    }
  }

  &__div--technology-shadow {
    z-index: -4;
    top: 5px;
    bottom: 1px;
    background: $color-black-302;

    @include vp-mobile {
      bottom: 15px;
    }
  }

  &__svg-vawe--technology-second {
    height: 362px;
    bottom: 0px;
    color: $color-white;

    @include vp-laptop {
      height: 190px;
      bottom: -5px;
    }

    @include vp-tablet {
      height: 138px;
      bottom: -1px;
    }

    @include vp-mobile {
      height: 79px;
      bottom: 12px;
    }
  }

  &__svg-vawe--news {
    height: 408px;
    top: 40px;
    color: $color-cornsilk;
    background-color: $color-white;

    @include vp-laptop {
      top: 155px;
      height: 210px;
    }

    @include vp-tablet {
      display: none;
    }
  }

  &__div--news-wall {
    top: 440px;
    bottom: -2px;
    background-color: $color-cornsilk;

    @include vp-laptop {
      top: 360px;
    }

    @include vp-tablet {
      top: 342px;
    }

    @include vp-mobile {
      top: 195px;
    }
  }

  &__div--instagram-top-wall {
    top: -1px;
    height: 1000px;
    background-color: $color-cornsilk;

    @include vp-laptop {
      height: 500px;
    }

    @include vp-tablet {
      height: 420px;
    }

    @include vp-mobile {
      height: 230px;
    }
  }

  &__svg-vawe--instagram {
    height: 664px;
    top: 280px;
    color: $color-ucla-gold;
    background-color: transparent;

    @include vp-laptop {
      top: 30px;
      width: 2100px;
    }

    @include vp-tablet {
      top: 205px;
      width: 1348px;
      height: 248px;
    }

    @include vp-mobile {
      width: 767px;
      height: 141px;
    }
  }

  &__div--instagram-bottom-wall {
    top: 930px;
    bottom: -2px;
    background-color: $color-ucla-gold;

    @include vp-laptop {
      top: 545px;
    }

    @include vp-tablet {
      top: 440px;
      bottom: 60px;
    }

    @include vp-mobile {
      top: 245px;
      bottom: 50px;
    }
  }

  &__svg-vawe--instagram {
    height: 664px;
    top: 280px;
    color: $color-ucla-gold;
    background-color: transparent;

    @include vp-laptop {
      top: 30px;
      width: 2100px;
    }

    @include vp-tablet {
      top: 196px;
      width: 1348px;
      height: 246px;
    }

    @include vp-mobile {
      height: 141px;
      top: 106px;
    }
  }

  &__svg-vawe--instagram-bottom {
    color: $color-ucla-gold;

    @include vp-tablet {
      bottom: -126px;
      height: 190px;
    }

    @include vp-mobile {
      height: 108px;
      bottom: -56px;
    }
  }

  &__div--footer-wall {
    top: -1px;
    height: 90px;
    background-color: $color-ucla-gold;
    width: 3720px;
    left: calc(50% - 1860px);

    @include vp-laptop {
      height: 78px;
    }

    @include vp-tablet {
      display: none;
    }
  }

  &__svg-vawe--footer {
    z-index: -6;
    height: 408px;
    top: 85px;
    color: $color-ucla-gold;

    @include vp-laptop {
      height: 210px;
      top: 75px;
    }

    @include vp-tablet {
      height: 190px;
      top: -64px;
    }

    @include vp-mobile {
      height: 108px;
      top: -52px;
    }
  }

  &__img--footer-corns {
    width: 730px;
    height: 500px;
    top: 0;
    left: calc(50% + 269px);

    @include vp-laptop {
      width: 569px;
      height: 467px;
      left: calc(50% + 155px);
    }

    @include vp-tablet {
      width: 517px;
      height: 346px;
      left: calc(50% - 288px);
      top: 30px;
    }

    @include vp-mobile {
      width: 339px;
      height: 231px;
      left: calc(50% - 172px);
      top: -6px;
    }
  }

  &__img--footer-cup {
    width: 682px;
    height: 455px;
    left: calc(50% + 311px);
    top: 30px;
    z-index: -2;

    @include vp-laptop {
      width: 483px;
      height: 322px;
      left: calc(50% + 220px);
      top: 32px;      
    }

    @include vp-tablet {
      width: 406px;
      height: 305px;
      left: calc(50% - 247px);
      top: 28px;
    }

    @include vp-mobile {
      width: 307px;
      height: 204px;
      left: calc(50% - 140px);
      top: -7px;
    }
  }

  /*Для страницы каталога*/

  &__div--catalog-hero-top-wall {
    top: 0;
    bottom: 830px;
    background-color: $color-ucla-gold;

    @include vp-laptop {
      bottom: 600px;
    }
  }

  &__svg-vawe--catalog-hero {
    height: 568px;
    bottom: 270px;
    color: $color-ucla-gold;

    @include vp-laptop {
      height: 291px;
      bottom: 310px;
    }
  }

  &__div--catalog-hero-bottom-wall {
    height: 588px;
    bottom: 112px;
    background-color: $color-white;

    @include vp-laptop {
      bottom: 123px;
      height: 450px;
    }
  }

  &__img--catalog-hero-corns {
    width: 820px;
    height: 710px;
    top: 53px;
    left: calc(50% + 38px);
    rotate: 17deg;
    z-index: 1;

    @include vp-laptop {
      left: calc(50% + 315px);
      top: 54px;
    }
  }

  &__img--catalog-hero-cup {
    width: 682px;
    height: 455px;
    top: 120px;
    left: calc(50% + 138px);
    z-index: 2;

    @include vp-laptop {
      width: 483px;
      height: 322px;
      top: 85px;
      left: calc(50% + 96px);
    }
  }

  &__div--catalog-footer-wall {
    top: 30px;
    bottom: -1px;
    background-color: $color-white;
    width: 3720px;
    left: calc(50% - 1860px);

    @include vp-laptop {
      top: 30px;
      width: 100%;
      left: 0;
      right: 0;
    }

    @include vp-tablet {
      display: none;
    }
  }

  &__svg-vawe--catalog-back-footer {
    z-index: -6;
    height: 408px;
    top: 52px;
    color: $color-ucla-gold;

    @include vp-laptop {
      height: 209px;
      top: 36px;
    }

    @include vp-tablet {
      height: 190px;
      top: -64px;
    }

    @include vp-mobile {
      height: 108px;
      top: -52px;
    }
  }

  &__svg-vawe--catalog-front-footer {
    height: 407px;
    top: 30px;
    color: $color-cultured;

    @include vp-laptop {
      height: 208px;
      top: 22px;
    }
  }


  &__img--catalog-footer-corns {
    width: 730px;
    height: 500px;
    top: 20px;
    left: calc(50% + 257px);
    z-index: -4;

    @include vp-laptop {
      width: 569px;
      height: 467px;
      left: calc(50% + 155px);
      top: -30px;
    }

    @include vp-tablet {
      width: 517px;
      height: 346px;
      left: calc(50% - 288px);
      top: 30px;
    }

    @include vp-mobile {
      width: 339px;
      height: 231px;
      left: calc(50% - 172px);
      top: -6px;
    }
  }

  &__img--catalog-footer-cup {
    width: 682px;
    height: 455px;
    left: calc(50% + 313px);
    top: 1px;
    z-index: -2;

    @include vp-laptop {
      width: 483px;
      height: 322px;
      left: calc(50% + 220px);
      top: 0;      
    }

    @include vp-tablet {
      width: 406px;
      height: 305px;
      left: calc(50% - 247px);
      top: 28px;
    }

    @include vp-mobile {
      width: 307px;
      height: 204px;
      left: calc(50% - 140px);
      top: -7px;
    }
  }

}