.custom-dropdown {
  position: relative;
  
  &__field {
    margin: 0;
    padding: 5px 13px 5px 30px;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: pointer;
    display: flex;
    font-family: $ff-gilroy sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 21px;
    color: $color-black;
    border: none;
    background: none;
    align-items: start;
    justify-content: space-between;

    @include vp-laptop {
      padding: 4px 18px 4px 19px;
      font-size: 12px;
      line-height: 14px;
    }

    @include vp-tablet {
      padding: 6px 20px 3px;
      font-size: 16px;
      line-height: 19px;
    }

    @include vp-mobile {
      padding: 6px 9px 4px 20px;
      font-size: 14px;
      line-height: 16px;
    }

    &:hover {
      color: $color-ucla-gold;
    }

    &--main {
      padding: 6px 13px 5px 30px;
      align-items: center;
      border: 1px solid $color-ucla-gold;
      background-color: $color-cornsilk;
      border-radius: 5px;

      @include vp-laptop {
        border-radius: 4px;
        border: 0.7px solid $color-ucla-gold;
        padding: 3px 16px 4px 19px;
      }

      @include vp-tablet {
        border: 1px solid $color-ucla-gold;
        padding: 6px 20px 3px;
      }

      @include vp-mobile {
        padding: 6px 9px 4px 20px;
      }
    }
  }

  &__icon {
    color: $color-black;
    width: 16px;
    height: 7px;

    @include vp-laptop {
      width: 11px;
      height: 5px;
    }

    @include vp-tablet {
      width: 10px;
      height: 5px;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    bottom: -8px;
    transform: translateY(100%);
    padding: 5px 0;
    margin: 0;
    border: 1px solid $color-ucla-gold;
    border-radius: 5px;
    background-color: $color-cornsilk;
    list-style-type: none;
    flex-direction: column;
    display: none;

    @include vp-laptop {
      bottom: -4px;
      border-radius: 4px;
      border: 0.7px solid $color-ucla-gold;
      padding: 4px 0 2px;
    }

    @include vp-tablet {
      bottom: -6px;
      border: 1px solid $color-ucla-gold;
    }
  }
}

.custom-dropdown--clicked {
  .custom-dropdown__list {
    display: flex;
  }
}

.product-card--main-mobile {
  .custom-dropdown__field--main {
    @include vp-mobile {
      padding: 4px 10px 3px 17px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .custom-dropdown__field--main {
    @include vp-mobile {
      padding: 4px 10px 3px 17px;
      border-radius: 3px;
    }
  }

  .custom-dropdown__icon {
    @include vp-mobile {
      width: 8px;
      height: 4px;
    }
  }

  .custom-dropdown__list {
    @include vp-mobile {
      bottom: -4px;
      border-radius: 3px;
      padding: 4px 0 3px;
    }
  }
}