.footer {
  position: relative;
  width: 100%;
  padding: 242px 0 100px;
  margin: 0;
  color: $color-black;
  font-family: $ff-gilroy sans-serif;
  font-weight: 500;
  overflow: hidden;

  @include vp-laptop {
    padding: 185px 0 0;
  }

  @include vp-tablet {
    padding: 453px 0 0;
    color: $color-raising-black;
  }

  @include vp-mobile {
    padding: 283px 0 0;
  }

  &__subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 185px;

    @include vp-laptop {
      padding: 0 0 135px;
    }

    @include vp-tablet {
      padding: 0 0 100px;
    }

    @include vp-mobile {
      padding: 0 0 60px;
    }
  }

  &__subscribe-title {
    margin: 0 0 52px;
    padding: 0;
    font-family: $ff-gilroy;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;
    max-width: 790px;

    @include vp-laptop {
      margin: 0 0 39px;
      font-size: 35px;
      line-height: 44px;
      max-width: 555px;
    }

    @include vp-tablet {
      margin: 0 0 50px;
      font-size: 30px;
      line-height: 37px;
      max-width: 475px;
    }

    @include vp-mobile {
      margin: 0 0 30px;
      font-size: 20px;
      line-height: 25px;
      max-width: unset;
    }
  }

  &__subscribe-paragraph {
    margin: 0 0 58px;
    padding: 0;
    font-size: 25px;
    line-height: 32px;
    max-width: 790px;

    @include vp-laptop {
      margin: 0 0 34px;
      font-size: 18px;
      line-height: 23px;
      max-width: 535px;
    }

    @include vp-tablet {
      margin: 0 0 45px;
      font-size: 20px;
      line-height: 46px;
      max-width: 605px;
    }

    @include vp-mobile {
      margin: 0 0 20px;
      font-size: 14px;
      line-height: 18px;
      max-width: unset;
    }
  }

  &__subscribe-form {
    width: 1100px;

    @include vp-laptop {
      width: 778px;
    }

    @include vp-tablet {
      width: 100%;
    }
  }

  &__nav-wrapper {
    margin: auto 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include vp-tablet {
      flex-direction: column-reverse;
      margin: auto 0 0 0;
      gap: 50px;
      padding: 0 0 80px;
    }

    @include vp-mobile {
      gap: 25px;
      padding: 0 0 50px;
    }
  }

  &__logo-link {
    width: 260px;
    height: 116px;
    display: flex;

    @include vp-laptop {
      width: 180px;
      height: 80px;
    }

    @include vp-tablet {
      width: 225px;
      height: 102px;
    }

    @include vp-mobile {
      width: 110px;
      height: 50px;
    }
  }

  &__nav {
    position: relative;
    top: 13px;

    @include vp-laptop {
      top: 0;
      right: 10px;
    }

    @include vp-tablet {
      position: unset;
    }
  }
}

.footer--for-catalog {
  padding: 215px 0 100px;

  @include vp-laptop {
    padding: 150px 0 70px;
  }

  .footer__subscribe {
    padding: 0 0 175px;

    @include vp-laptop {
      padding: 0 0 130px;
    }
  }

  .footer__subscribe-title {
    margin: 0 0 50px;

    @include vp-laptop {
      margin: 0 0 40px;
    }
  }

  .footer__nav {
    top: 23px;

    @include vp-laptop {
      top: 0;
    }
  }
}