.header {
  padding: 22px 0;
  margin: 0;
  position: fixed;
  z-index: 3;
  background: transparent;
  width: 100%;

  @include vp-laptop {
    padding: 20px 0 13px;
  }

  @include vp-tablet {
    padding: 20px 0 21px; 
    box-shadow: 0px 5px 20px 0px rgba(157, 157, 157, 0.25);
    background-color: $color-white;
  }

  @include vp-mobile {
    padding: 9px 0 11px;
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__burger {
    display: none;
    color: $color-black;

    @include vp-tablet {
      display: flex;
      align-items: center;
      justify-content: start;
    }
  }

  &__logo-link {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__logo-img {
    width: 260px; 
    height: 116px;

    @include vp-laptop {
      width: 179px;
      height: 80px;
    }

    @include vp-tablet {
      width: 225px;
      height: 102px;
    }

    @include vp-mobile {
      width: 110px;
      height: 50px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    padding-top: 4px;
    color: $color-black;

    @include vp-tablet {
      display: none;
    }
  }

  &__search {
    position: absolute;
    left: 280px;
    right: 140px;
    top: calc(50% - 4px);
    transform: translateY(-50%);
    display: none;

    @include vp-laptop {
      left: 201px;
      right: 99px;
      top: 50%;
    }

    @include vp-tablet {
      left: 0;
      right: 0;
      top: 40px;
      transform: unset;
    }

    @include vp-mobile {
      top: 21px;
    }
  }

  &__users-list {
    margin: 0 0 10px 58px;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 5px 49px;
    justify-content: end;
    align-items: center;

    @include vp-laptop {
      margin: 0 0 0 35px;
      gap: 5px 37px;   
    }

    @include vp-tablet {
      margin: 0 0 10px 6px;
      gap: 5px 54px;   
    }

    @include vp-mobile {
      margin: 0 0 3px 46px;
      gap: 5px 25px;
    }
  }

  &__users-link {
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include vp-tablet {
      color: $color-raising-black;
    }

    &:hover {
      color: $color-white;

      @include vp-tablet {
        color: $color-ucla-gold;
      }
    }
  }

  &__search-icon {
    width: 36px;
    height: 36px;

    @include vp-laptop {
      width: 24px;
      height: 24px;
    }

    @include vp-tablet {
      width: 40px;
      height: 40px;
    }

    @include vp-mobile {
      width: 21px;
      height: 22px;
    }
  }

  &__basket-icon {
    width: 37px;
    height: 36px;
    
    @include vp-laptop {
      width: 26px;
      height: 24px;
    }

    @include vp-tablet {
      width: 44px;
      height: 40px;
    }

    @include vp-mobile {
      width: 24px;
      height: 19px;
    }
  }

  &__user-icon {
    width: 32px;
    height: 37px;
    
    @include vp-laptop {
      width: 24px;
      height: 32px;
    }

    @include vp-tablet {
      width: 38px;
      height: 46px;
    }

    @include vp-mobile {
      width: 18px;
      height: 23px;
    }
  }

  &__contacts {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 79px;

    @include vp-tablet {
      display: flex;
    }

    @include vp-mobile {
      gap: 39px;
    }
  }

  &__email {
    display: block;
    font-family: $ff-gilroy;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    color: $color-raising-black;
    padding: 0;

    @include vp-mobile {
      font-size: 16px;
    }

    &:hover {
      color: $color-ucla-gold;
    }
  }


  .header__menu-close {
    display: none;
    position: absolute;
    top: 28px;
    right: 24px;

    @include vp-mobile {
      top: 13px;
      right: 12px;
    }
  }

  .header__menu-contacts {
    display: none;
    align-self: center;
    flex-direction: column;
    gap: 182px;

    @include vp-mobile {
      gap: 90px
    }
  }
}

.header--search {
  box-shadow: 0px 5px 20px 0px rgba(157, 157, 157, 0.25);
  background-color: $color-white;

  @include vp-tablet {
    height: 100%;
  }

  .header__burger {
    display: none;
  }

  .header__logo-link {
    @include vp-tablet {
      display: none;
    }
  }

  .header__users-link:hover {
    color: $color-ucla-gold;
  }

  .header__search-icon,
  .header__nav {
    display: none;
  }

  .header__users-list {
    @include vp-tablet {
      display: none;
    }

  }

  .header__search {
    display: flex;
  }
}

.header--menu {
  height: 100%;
  padding: 30px 0 0;
  background-color: $color-white;

  @include vp-mobile {
    padding: 16px 0 0;
  }

  .header__wrapper{
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .header__logo-img {
    width: 220px;
    height: 100px;

    @include vp-mobile {
      width: 110px;
      height: 50px;
    }
  }

  .header__logo-link {
    margin-bottom: 171px;

    @include vp-mobile {
      margin-bottom: 80px;
    }
  }

  .header__nav {
    display: flex;
    margin-bottom: 75px;

    @include vp-mobile {
      margin-bottom: 36px;
    }
  }

  .header__burger, 
  .header__search,
  .header__users-item:first-child {
    display: none;
  }

  .header__users-list {
    display: flex;
    flex-direction: row;
    margin: 0 0 390px;
    padding: 0;
    gap: 50px;

    @include vp-mobile {
      margin: 0 0 190px;
      gap: 24px;
    }
  }

  .header__users-link:hover {
    color: $color-ucla-gold;
  }

  .header__menu-close {
    display: flex;
  }

  .header__menu-contacts {
    display: flex;
  }
}

.header--background {
  box-shadow: 0px 5px 20px 0px rgba(157, 157, 157, 0.25);
  background-color: $color-white;

  .header__nav {
    margin: 0;
  }

  .header__users-link:hover {
    color: $color-ucla-gold;
  }
}