.news {
  position: relative;
  width: 100%;
  padding: 50px 0 27px;
  margin: 0;
  color: $color-black;
  font-family: $ff-gilroy sans-serif;
  font-weight: 500;
  overflow: hidden;

  @include vp-laptop {
    padding: 44px 0 22px;
  }

  @include vp-tablet {
    padding: 85px 0 108px;
  }

  @include vp-mobile {
    padding: 70px 0 50px;
  }

  &__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 0 50px;

    @include vp-laptop {
      margin: 0 0 43px;
    }

    @include vp-tablet {
      margin: 0 0 52px;
    }

    @include vp-mobile {
      margin: 0 0 25px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-family: $ff-gilroy;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;

    @include vp-laptop {
      font-size: 35px;
      line-height: 44px;
    }

    @include vp-tablet {
      font-size: 40px;
      line-height: 50px;
      color: $color-raising-black;
    }

    @include vp-mobile {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__link {
    position: relative;
    right: -30px;
    bottom: -2px;

    @include vp-laptop {
      right: -17px;
    }

    @include vp-tablet {
      position: absolute;
      bottom: 16px;
      left: calc(50% + 199px);
      width: 180px;
    }

    @include vp-mobile {
      bottom: 0;
      left: calc(50% + 97px);
      width: 87px;
    }
  }

  &__arrows {
    justify-content: space-between;
    align-items: center;
    display: none;
    margin: 0 0 77px;

    @include vp-tablet {
      display: flex;
    }

    @include vp-mobile {
      margin: 0 0 25px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;

    @include vp-tablet {
      flex-direction: column;
      min-height: 769px;
      justify-content: start;
      position: relative;
      z-index: 1;
    }

    @include vp-mobile {
      min-height: 403px;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
    display: flex;
    
    @include vp-tablet {
      top: -100px;
      display: none;

      &:nth-child(1){
        display: flex;
      }
    }
  }
}
