.users-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 5px 49px;
    justify-content: end;
    align-items: center;

    @include vp-laptop {
      gap: 5px 37px;
    }

    @include vp-tablet {
      gap: 5px 54px;
    }

    @include vp-mobile {
      gap: 5px 25px;
    }

  &__link {
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @include vp-tablet {
      color: $color-raising-black;
    }

    &:hover {
      color: $color-white;

      @include vp-tablet {
        color: $color-ucla-gold;
      }
    }
  }

  &__search-icon {
    width: 36px;
    height: 36px;

    @include vp-laptop {
      width: 24px;
      height: 24px;
    }

    @include vp-tablet {
      width: 40px;
      height: 40px;
    }

    @include vp-mobile {
      width: 21px;
      height: 22px;
    }
  }

  &__basket-icon {
    width: 37px;
    height: 36px;

    @include vp-laptop {
      width: 26px;
      height: 24px;
    }

    @include vp-tablet {
      width: 44px;
      height: 40px;
    }

    @include vp-mobile {
      width: 24px;
      height: 19px;
    }
  }

  &__user-icon {
    width: 32px;
    height: 37px;

    @include vp-laptop {
      width: 24px;
      height: 32px;
    }

    @include vp-tablet {
      width: 38px;
      height: 46px;
    }

    @include vp-mobile {
      width: 18px;
      height: 23px;
    }
  }
}
