@import "./fonts.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

@media (max-width: 1903px) {
  html {
    scroll-padding-top: 180px;
  }
}

@media (max-width: 1348px) {
  html {
    scroll-padding-top: 180px;
  }
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: 100px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: #f9b300;
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy", sans-serif;
  align-items: center;
  width: 3720px;
  min-height: 100vh;
  justify-content: space-between;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  min-height: 100%;
  justify-content: center;
}

main {
  font-family: "Gilroy", sans-serif;
  flex-grow: 1;
  width: 100%;
  max-width: 3720px;
  display: flex;
  flex-direction: column;
}
