.custom-search {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;

  @include vp-tablet {
    padding-right: 120px;
  }

  @include vp-mobile {
    padding-right: 70px;
  }

  &__field {
    margin: 0;
    padding: 19px 22px 15px 82px;
    box-shadow: 0px 0px 20px 0px $color-spanish-gray-25;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-family: $ff-gilroy;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: $color-chinese-black;

    @include vp-laptop {
      padding: 13px 15px 7px 72px;
      font-size: 16px;
    }

    @include vp-tablet {
      padding: 22px 22px 22px 84px;
      font-size: 20px;
      border-radius: 20px;
    }

    @include vp-mobile {
      padding: 9px 7px 5px 47px;
      font-size: 12px;
    }
  }

  &__field::placeholder {
    color: $color-silver-sand-c4;
  }

  &__icon {
    width: 34px;
    height: 34px;
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-silver-sand-c4;

    @include vp-laptop {
      width: 25px;
      height: 25px;
    }

    @include vp-mobile {
      width: 12px;
      height: 12px;
      left: 19px;
    }
  }

  &__btn {
    display: none;
    position: absolute;

    @include vp-tablet {
      display: flex;
      right: -24px;
      top: 14px;
    }

    @include vp-mobile {
      right: -10px;
      top: 5px;
    }
  }
}