.custom-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 23px;

  @include vp-laptop {
    gap: 16px;
  }

  @include vp-tablet {
    gap: 20px;
  }

  @include vp-mobile {
    gap: 10px;
  }

  &__input {
    display: flex;
    background-color: $color-antiflash-white-f3;
    border-radius: 40px;
    justify-content: start;

    @include vp-laptop {
      border-radius: 28px;
    }

    @include vp-tablet {
      border-radius: unset;
      flex-direction: column;
      background-color: unset;
      gap: 20px;
    }

    @include vp-mobile {
      gap: 20px;
    }
  }

  &__field {
    margin: 0;
    padding: 26px 24px 22px 60px;
    height: 100%;
    flex-grow: 1;
    border: none;
    font-family: $ff-gilroy;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: $color-chinese-black;
    background: transparent;

    @include vp-laptop {
      font-size: 18px;
      line-height: 23px;
      padding: 19px 17px 16px 40px;
    }

    @include vp-tablet {
      padding: 20px 80px 21px;
      height: 70px;
      flex-grow: unset;
      font-size: 22px;
      line-height: 29px;
      border-radius: 5px;
      background-color: $color-antiflash-white-f3;
    }

    @include vp-mobile {
      padding: 18px 40px 15px;
      height: 50px;
      font-size: 14px;
      line-height: 18px;
    }
  
    &::placeholder {
      color: $color-chinese-silver;
      user-select: none;
    }
  }

  &__button {
    padding: 26px 24px 22px;
    margin: 0;
    width: 260px;
    color: $color-white;
    font-family: $ff-gilroy;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    background-color: $color-ucla-gold;
    border: none;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-laptop {
      border-radius: 28px;
      width: 179px;
      font-size: 18px;
      line-height: 22px;
      padding: 19px 18px 16px 18px;
    }

    @include vp-tablet {
      width: unset;
      border-radius: 5px;
      font-size: 25px;
      line-height: 30px;
      padding: 20px 20px 21px;
    }

    @include vp-mobile {
      font-size: 18px;
      line-height: 22px;
      padding: 15px 15px 13px;
    }

    &:hover {
      background-color: $color-mustard-yellow;
    }
  }

  &__success-text {
    display: none;
  }

  &__agree {
    font-family: $ff-gilroy sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $color-davys-gray;
    margin: 0;
    padding: 0;

    @include vp-laptop {
      font-size: 12px;
      line-height: 16px;
    }

    @include vp-tablet {
      font-size: 20px;
      line-height: 26px;
      max-width: 490px;
    }

    @include vp-mobile {
      font-size: 10px;
      line-height: 13px;
      max-width: 245px;
    }
  }

  &__agree-link {
    font-weight: 600;
    color: $color-ucla-gold;

    &:hover {
      text-decoration: underline;
      color: $color-mustard-yellow;
    }
  }
}

.custom-subscribe--success {

  .custom-subscribe__field {
    display: none;

    @include vp-tablet {
      display: flex;
    }
  }
  .custom-subscribe__field,
  .custom-subscribe__button-text {
    display: none;
  }

  .custom-subscribe__button {
    width: 100%;
  }

  .custom-subscribe__success-text {
    display: flex;
  }
}