.news-card {
  display: flex;
  box-shadow: 0px 0px 30px 0px $color-philippine-gray-20;
  min-height: 400px;
  justify-content: space-between;
  max-width: 100%;
  border-radius: 20px;
  background-color: $color-white;

  @include vp-laptop {
    box-shadow: 0px 0px 21px 0px $color-philippine-gray-20;
    min-height: 282px;
    border-radius: 14px;
  }

  @include vp-tablet {
    box-shadow: 0px 0px 61px 0px $color-philippine-gray-20;
    flex-direction: column;
    border-radius: 40px;
    overflow: hidden;
    width: 700px;
    min-height: 374px;
  }

  @include vp-mobile {
    box-shadow: 0px 0px 30px 0px $color-philippine-gray-20;
    width: 340px;
    border-radius: 10px;
    min-height: 242px;
  }

  &__image-wrapper {
    display: flex;
    width: 336px;
    max-height: 100%;
    overflow: hidden;
    border-radius: 20px 0 0 20px;

    @include vp-laptop {
      width: 238px;
      border-radius: 14px 0 0 14px;
    }

    @include vp-tablet {
      width: 700px;
      min-height: 280px;
      border-radius: 40px 40px 0 0;
    }

    @include vp-mobile {
      width: 340px;
      min-height: 137px;
      border-radius: 10px 10px 0 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-position: top center;
    overflow: hidden;
  }

  &__inner {
    padding: 62px 112px 35px 140px;
    width: 680px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: $ff-gilroy;
    color: $color-black;

    @include vp-laptop {
      padding: 51px 97px 30px 80px;
      width: 480px;
      gap: 28px;
    }

    @include vp-tablet {
      width: 700px;
      padding: 70px 90px 50px;
      gap: 25px;
    }

    @include vp-mobile {
      width: 340px;
      padding: 30px 30px 10px 30px;
      gap: 18px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    margin: 0;
    padding: 0;

    @include vp-laptop {
      font-size: 18px;
      line-height: 24px;
    }

    @include vp-tablet {
      font-size: 25px;
      line-height: 32px;
    }

    @include vp-mobile {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include vp-tablet {
      max-height: 104px;
      overflow: hidden;
      gap: 20px;
    }

    @include vp-mobile {
      gap: 14px;
      max-height: 90px;
    }
  }

  &__paragraph {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 0;

    @include vp-laptop {
      font-size: 14px;
      line-height: 18px;
    }

    @include vp-tablet {
      font-size: 20px;
      line-height: 26px;
    }

    @include vp-mobile {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__link {
    margin: auto auto 0 0;
    position: relative;
    bottom: 16px;
    left: -24px;

    @include vp-laptop {
      bottom: 6px;
      left: -17px;
    }

    @include vp-tablet {
      left: -18px;
      bottom: 8px;
    }

    @include vp-mobile {
      bottom: 24px;
    }
  }
}

.news-card--flat {

  .news-card__inner {
    padding: 40px 81px 0 84px;
    width: 624px;
    gap: 30px;

    @include vp-laptop {
      padding: 32px 57px 8px 60px;
      width: 442px;
      gap: 20px;
    }

    @include vp-tablet {
      padding: 62px 80px 72px 80px;
      width: 100%;
      min-height: 489px;
      gap: 50px;
    }

    @include vp-mobile {
      padding: 40px 30px 10px 40px;
      gap: 40px;
      min-height: 368px;
    }
  }

  .news-card__content {
    gap: 28px;

    @include vp-laptop {
      gap: 18px;
    }

    @include vp-tablet {
      gap: 25px;
    }

    @include vp-mobile {
      gap: 18px;
    }
  }
}