.product-card {  
  padding: 20px 38px 48px;
  display: flex;
  flex-direction: column; 
  align-items: start;
  justify-content: start;
  box-shadow: 0px 0px 20px 0px $color-philippine-gray-25;
  min-height: 652px;
  width: 400px;
  border-radius: 20px;
  background-color: $color-white;
  color: $color-raising-black;
  font-family: $ff-gilroy sans-serif;
  position: relative;

  @include vp-laptop {
    padding: 13px 24px 37px;
    box-shadow: 0px 0px 20px 0px $color-chinese-silver-25;
    border: 0.7px solid $color-platinum;
    min-height: 461px;
    width: 282px;
    border-radius: 14px;
  }

  @include vp-tablet {
    padding: 21px 33px 42px 35px;
    box-shadow: 0px 0px 17px 0px $color-chinese-silver-25;
    border: none;
    min-height: 552px;
    width: 340px;
    border-radius: 16px;
  }

  @include vp-mobile {
    box-shadow: none;
    padding: 17px 32px 43px;
    min-height: 407px;
    border: 1px solid $color-platinum;
    border-radius: 17px;
    min-height: 554px;
  }

  &__sales-icon {
    color: $color-black;
    background-color: $color-ucla-gold;
    border-radius: 50%;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 2px;
    left: 3px;
    transform: translate(50%, -50%);
    display: none;

    @include vp-laptop {
      width: 50px;
      height: 50px;
      left: -1px;
      top: 0;
      font-size: 25px;
      line-height: 30px;
    }

    @include vp-tablet {
      width: 60px;
      height: 60px;
      left: 5px;
      top: 1px;
      font-size: 29.5px;
      line-height: 36px;
    }
  }

  &__top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 0 0 4px;
    margin: 0 0 20px;
    width: 100%;

    @include vp-laptop {
      padding: 0;
      margin: 0 0 14px;
    }

    @include vp-tablet {
      padding: 0;
      margin: 0 0 22px;
    }

    @include vp-mobile {
      padding: 0 5px 0 2px;
      margin: 0 0 18px;
    }
  }

  &__category-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 10px;

    @include vp-laptop {
      margin: 1px 0 0;
      gap: 6px;
    }

    @include vp-tablet {
      margin: 0;
      gap: 5px;
    }

    @include vp-mobile {
      gap: 9px;
    }
  }

  &__category-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $color-ucla-gold;

    @include vp-laptop {
      font-size: 12px;
      line-height: 15px;
    }

    @include vp-tablet {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__category-item:nth-child(n + 3) {
    display: none;
  }

  &__dropdown {
    margin: 1px 0 auto auto;
    width: 132px;

    @include vp-laptop {
      margin: 0 0 auto auto;
      width: 93px;
    }

    @include vp-tablet {
      width: 110px;
    }

    @include vp-mobile {
      width: 106px;
    }
  }

  &__middle {
    margin: 0 0 38px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include vp-laptop {
      margin: 0 0 28px;
    }

    @include vp-tablet {
      margin: 0 0 32px;
    }

    @include vp-mobile {
      margin: 0 0 31px;
    }
  }

  &__image-wrapper {
    width: 172px;
    height: 311px;
    display: flex;

    @include vp-laptop {
      width: 120px;
      height: 218px;
    }

    @include vp-tablet {
      width: 144px;
      height: 260px;
    }

    @include vp-mobile {
      width: 146px;
      height: 264px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__details {
    width: 134px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: end;

    @include vp-laptop {
      width: 94px;
      margin: 0 0 -2px;
    }

    @include vp-tablet {
      margin: 0 15px 32px 0;
    }

    @include vp-mobile {
      width: 113px;
      margin: 0;
    }
  }

  &__stars {
    margin: 0 0 12px;
    padding: 0 2px;
    width: 100%;

    @include vp-laptop {
      margin: 0 0 8px;
      padding: 0;
    }

    @include vp-tablet {
      margin: 0 0 6px;
    }

    @include vp-mobile {
      margin: 0 0 7px;
    }
  }

  &__rating {
    margin: 0 0 26px 4px;
    padding: 0;
    display: flex;
    gap: 7px;
    align-items: baseline;

    @include vp-laptop {
      margin: 0 0 17px;
      gap: 4px;
    }

    @include vp-mobile {
      margin: 0 0 25px 1px;
      gap: 6px;
    }
  }

  &__rating-value {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    @include vp-laptop {
      font-size: 14px;
      line-height: 17px;
    }

    @include vp-mobile {
      font-size: 17px;
      line-height: 21px;
    }
  }

  &__comments-count {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $color-davys-gray;

    @include vp-laptop {
      font-size: 10px;
      line-height: 12px;
    }

    @include vp-mobile {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__corns {
    margin: 0 0 30px;

    @include vp-laptop {
      margin: 0 0 26px;
    }

    @include vp-mobile {
      margin: 0 0 25px;
    }
  }

  &__hue {
    width: 100%;
    align-items: end;
    padding: 0 2px;
    margin: 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include vp-laptop {
      margin: 0 0 14px;
      padding: 0;
      align-items: start;
      gap: 5px;
    }

    @include vp-mobile {
      margin: 0 0 13px;
      padding: 0 0 0 2px;
      gap: 10px;
    }
  }

  &__hue:last-of-type {
    margin: 0;
  }

  &__hue-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    align-self: start;

    @include vp-laptop {
      font-size: 12px;
      line-height: 14px;
    }

    @include vp-mobile {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 25px;
    line-height: 31px;
    margin: 0 0 10px;
    padding: 0;

    @include vp-laptop {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 8px;
    }

    @include vp-tablet {
      font-size: 22px;
      line-height: 27px;
      margin: 0 0 10px;
    }

    @include vp-mobile {
      font-size: 20px;
      line-height: 25px;
      margin: 0 0 10px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    max-width: 270px;
    max-height: 42px;
    overflow: hidden;
    padding: 0;
    margin: 0;

    @include vp-laptop {
      font-size: 12px;
      line-height: 14px;
      max-width: 180px;
      max-height: 29px;
    }

    @include vp-tablet {
      font-size: 16px;
      line-height: 19px;
      max-width: 240px;
      max-height: 38px;
    }

    @include vp-mobile {
      font-size: 14px;
      line-height: 16px;
      max-width: 220px;
      max-height: 36px;
    }
  }

  &__bottom {
    display: flex;
    margin: auto 0 0;
    padding: 20px 4px 0 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    @include vp-laptop {
      padding: 20px 0 0;
    }

    @include vp-tablet {
      padding: 19px 5px 0 0;
    }
  }

  &__price {
    font-weight: 900;
    font-size: 35px;
    line-height: 44px;

    @include vp-laptop {
      font-size: 24px;
      line-height: 30px;
      padding: 0 0 0 4px;
    }

    @include vp-tablet {
      font-size: 26px;
      line-height: 32px;
      padding: 0 0 2px 4px;
    }

    @include vp-mobile {
      font-size: 25px;
      line-height: 31px;
      padding: 0 0 3px;
    }
  }

  &__price--crossed {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: $color-silver-sand-c6;
    position: absolute;
    top: 0;
    left: 0;

    @include vp-laptop {
      top: 3px;
      font-size: 18px;
      line-height: 21px;
    }

    @include vp-tablet {
      top: 1px;
      font-size: 22px;
      line-height: 26px;
    }

    &::after {
      content: "";
      background-color: $color-silver-sand-c6;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-100%);

      @include vp-laptop {
        height: 1px;
      }
    }
  }

  &__button {
    width: 178px;

    @include vp-laptop {
      width: 125px;
    }

    @include vp-tablet {
      width: 149px;
    }

    @include vp-mobile {
      width: 151px;
    }
  }
}

.product-card--sale {
  .product-card__sales-icon {
    display: flex;
  }

  .product-card__category-list {
    padding: 34px 0 0;

    @include vp-laptop {
      padding: 23px 0 0;
    }

    @include vp-tablet {
      padding: 29px 0 0;
      margin: 0 0 -5px;
    }

    @include vp-mobile {
      padding: 19px 0 0;
      margin: 0;
    }
  }

  .product-card__category-item:nth-child(n + 2) {
    display: none;
  }
}


.product-card--main-mobile {

  @include vp-mobile {
    box-shadow: 0px 0px 12.5px 0px $color-chinese-silver-25;
    padding: 14px 23px 30px 24px;
    border: none;
    border-radius: 12px;
    width: 250px;
    min-height: 407px;
  }

  .product-card__top {
    @include vp-mobile {
      padding: 0 0 0 2px;
      margin: 0 0 13px;      
    }
  }

  .product-card__sales-icon {
    @include vp-mobile {
      width: 44px;
      height: 44px;
      left: 2px;
      top: -1px;
      font-size: 22px;
      line-height: 26px;
    }
  }

  .product-card__category-item {
    @include vp-mobile {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .product-card__dropdown {
    @include vp-mobile {
      width: 82px;
    }
  }

  .product-card__middle {
    @include vp-mobile {
      margin: 0 0 22px;
    }
  }

  .product-card__image-wrapper {
    @include vp-mobile {
      width: 107px;
      height: 193px;
      margin: 0 0 2px;
    }
  }

  .product-card__details {
    @include vp-mobile {
      width: 83px;
    }
  }

  .product-card__stars {
    @include vp-mobile {
      margin: 0 0 4px;
    }
  }

  .product-card__rating {
    @include vp-mobile {
      margin: 0 0 18px 1px;
      gap: 4px;
    }
  }

  .product-card__rating-value {
    @include vp-mobile {
      font-size: 12.5px;
      line-height: 15px;
    }
  }

  .product-card__comments-count {
    @include vp-mobile {
      font-size: 9px;
      line-height: 10px;
    }
  }

  .product-card__corns {
    @include vp-mobile {
      margin: 0 0 18px 1px;      
    }
  }

  .product-card__hue {
    @include vp-mobile {
      margin: 0 0 9px;
      gap: 7px;
    }
  }

  .product-card__hue:last-of-type {
    @include vp-mobile {
      margin: 0;
    }
  }

  .product-card__hue-name {
    @include vp-mobile {
      font-size: 10px;
      line-height: 13px;
    }
  }

  .product-card__title {
    @include vp-mobile {
      font-size: 16px;
      line-height: 19px;
      margin: 0 0 7px;
    }
  }
  
  .product-card__description {
    @include vp-mobile {
      font-size: 10px;
      line-height: 13px;
      max-width: 160px;
      max-height: 26px;
    }
  }

  .product-card__bottom {
    @include vp-mobile {        
      padding: 14px 2px 0 0;    
    }
  } 

  .product-card__price {
    @include vp-mobile {
      font-size: 20px;
      line-height: 25px;
      padding: 0 0 4px;
    }
  }

  .product-card__price--crossed {
    @include vp-mobile {
      font-size: 16px;
      line-height: 19px;
      top: 0;
    }
  }

  .product-card__button {
    @include vp-mobile {
      width: 111px;
    }
  }
}

.product-card--bordered {  
  border: 1px solid $color-platinum;
  box-shadow: none;

  @include vp-laptop {
    width: 280px;
    min-height: 461px;
  }
}