.slider-stars {
  display: flex;
  gap: 2px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-laptop {
    gap: 1px;
  }

  @include vp-mobile {
    gap: 2px;
  }

  &__item {
    color: $color-antiflash-white-f0;
    display: flex;
  } 

  &__svg {
    width: 25px;
    height: 25px;

    @include vp-laptop {
      width: 18px;
      height: 18px;
    }

    @include vp-mobile {
      width: 21px;
      height: 21px;
    }
  }

  &__item--selected {
    color: $color-ucla-gold;
  }
}

.product-card--main-mobile {
  .slider-stars {
    @include vp-mobile {
      gap: 1px;
    }   
  }

  .slider-stars__svg {
    @include vp-mobile {
      width: 16px;
      height: 16px;      
    }
  } 
}