.slider-points {
  display: flex;
  gap: 3px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-laptop {
    gap: 2px;
  }

  @include vp-mobile {
    gap: 3px;  
  }

  &__item {
    background-color: $color-antiflash-white-f0;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    @include vp-laptop {
      width: 7px;
      height: 7px;
    }

    @include vp-mobile {
      width: 8px;
      height: 8px;
    }
  } 

  &__item--selected {
    background-color: $color-ucla-gold;
  }
}

.product-card--main-mobile {
  .slider-points {
    @include vp-mobile {
      gap: 2px;
    }
  }

  .slider-points__item {
    @include vp-mobile {
      width: 6px;
      height: 6px;
    }
  }
}